# Set to False to disable the display support
DISPLAY_ENABLED=True

# Interface type of display, currently only "spi" is supported
DISPLAY_TYPE=spi

# SPI device ID, either 0 or 1
DISPLAY_DEVICE=0

# SPI Port ID, probably 0
DISPLAY_PORT=0

# Data Command GPIO ID
DISPLAY_DC=25

# Reset GPIO ID
DISPLAY_RESET=24

# Connection baud rate
DISPLAY_BAUD=8000000

# Set to True to implement a short delay, required for some displays
DISPLAY_RESET_DELAY=True

# Port to connect for MeshCore
MESH_PORT=/dev/ttyUSB0

BME280_PORT=1

BME280_ADDR=0x76

# Altitude above sea level of radio in meters, required for Pressure calculation to MSLP
ALTITUDE=250

# Set to your OpenWeatherMap API key for forecast projection support
# Obtain this via https://home.openweathermap.org/api_keys
OPENWEATHERMAP_API_KEY=

# Latitude of the radio, used in pulling of weather forecasts and alerts
LOCATION_LAT=

# Longitude of the radio, used in pulling of weather forecasts and alerts
LOCATION_LON=

# Label to use for the location, should be set to your city name or something meaningful for your region.
LOCATION_LABEL=

# Home Assistant URL on the local network
HA_URL=

# Long-lived token for pushing data to Home Assistant
HA_TOKEN=