# Refer to https://github.com/BitsNBytes25/Raspberry-Pi-Mesh-Weather for full documentation.

# Display Configuration
# Configuration to control the display on the raspberry pi, if one is present.
display:
  enabled: false


# Radio Configuration
radio:
  type: "meshcore"
  interface: "serial"
  port: "/dev/ttyUSB0"


# List of hardware sensors attached to the Pi
sensors:
  - type: bme280
    port: 1
    address: 0x76


# Location Configuration
location:
  altitude: 250
  label: ""
  lat: ""
  lon: ""
  iata: XYZ


weather:
  # Set to your OpenWeatherMap API key for forecast projection support
  # Obtain this via https://home.openweathermap.org/api_keys
  openweather_api_key: ""


# Remote Integrations
home_assistant:
  url: ""
  token: ""


# Security
# List of radio IDs allowed for administrative tasks
auth_radios:
  - "123456789abc"
  - "cba987654321"


# MQTT Configuration
# This structure allows for multiple brokers as requested
mqtt:
  - host: "broker.example.com"
    port: 1883
    user: "username"
    password: "password"
  - host: "backup.example.com"
    port: 1883
    user: "username"
    password: "password"
